@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
	margin:0 ;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins",sans-serif;
}
body {
	min-height: 0;
	background: url("../Images/boum.jpg") no-repeat; 
	background-size: cover;
	background-position: center;
	font-size: 16px;
	font-family: "Montserrat", sans-serif;
	color: rgba(0, 0, 0, .87);
	line-height: 1.8;
	margin: 0; 

}
 .header {
	position: fixed;
	top: 0;
	left: 0;
	/* right: 0; */
	width: 100%;
	padding: 20px 100px;
	background: rgb(99, 144, 199);
	display: flex;
	/* padding: 20px; */
	justify-content: space-between;
	align-items: center;
	z-index: 100;
	/* opacity: .95; */
}
.SOLO-CHOP{
	font-size: 32px;
	color: white;
	text-decoration: none;
	font-weight: 700;
}

/*
.nav {
	float: left;
	
}
*/
.nav a {
	position: relative;
	font-size: 18px;
	color: white;
	font-weight: 500;
	text-decoration: none;
	margin-left: 40px;
	/* padding: 0 50px; */
}
/* .nav li {
	float: left;
	width: 200px;
}
.nav .soumenu {
	list-style-type: none;
	display: none;
	padding: 0;
	padding: 0;
	position: absolute;
}
.nav .soumenu li{
	float: none;
	margin: 0;
	padding: 0;
	border-top: 1px solid transparent;
	border-right: 1px solid transparent;
}
.nav .soumenu li a:link, .nav li a:visited{
	display: block;
	text-decoration: none;	
}
.nav li:hover .soumenu{
	display: block;	
} */



.nav a::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 2px;
	background: #fff;
	transition: .3s;
	/* color: black; */
}

.nav a:hover::before{
	width: 100%;
}

/* .nav a:hover, .nav a.active{
	color: black;
} */

.header .social {
	float: right;

}

.social a{
	padding: 0 10px;
	opacity: .5;
}

.social a:hover{
	opacity: 1;
}

.banniere {
	height: 500px;
	background: no-repeat center center / cover url("../Images/pur.jpg");
	background-size: c;
}

.main{
	float: left;
	width: calc(100% - 300px);
	height: auto;
	z-index: 2;
	position: relative;
}
.article {
	overflow: hidden;
	box-shadow: 0 1px 80px lightgray;
	margin: 15px 180px;
}

.article-date {
	font-weight: 300;
	color: rgba(0, 0, 0, .6);
	margin-bottom: 5px;
}

.article .article-img {
	float: left;
	width: 200px;
	height: 100%;
	margin-right: 15px;
}

.article-title {
	line-height:1.1;
	font-size: 1.75rem;
	font-family: "Cardo", serif;
	margin: 0 0 15px 0;
}

.sidebar-title {
	font-size: 30px;
	margin: 0 10px;
}

.sidebar-title:first-child{
	margin-top: 10px;
}
.sidebar{
	background: #E8E8E8;
	float: right;
	width: 300px;
	z-index: 1;
	position: relative;
}

.sidebar a {
	text-decoration: none;
	color: gray;
}

.sidebar ul{
	list-style: none;
}

.sidebar li{
	padding: 6px 0;
}

.sidebar a:hover{
	text-decoration: underline;
}

hr{
	border: none;
	background: #c4c4c4;
	height: 1px;
	margin: 20px;
}

.footer {
	clear: both;
}

.footer {
	padding: 7rem 1rem;
	background-color: var(--green);
  }
  
  footer .row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	max-width: 99.6rem;
	margin: 0 auto;
  }
  
.footer .col {
	flex-direction: column;
	color: var(--white);
	align-items: flex-start;
  }
  
.footer .col:last-child {
	flex-direction: row;
	justify-content: center;
  }
  
.footer .col:last-child span {
	font-size: 2.5rem;
	margin-right: 0.5rem;
	color: var(--white);
  }
  
.footer .col a {
	color: var(--white);
	font-size: 1.5rem;
	padding: 0.5rem;
	font-weight: 300;
  }
  
.footer .col h4 {
	margin-bottom: 1rem;
  }
  
	@media only screen and (max-width: 567px) {
	footer .row {
	  grid-template-columns: 1fr;
	  row-gap: 3rem;
	}
  }


.login-form {
	margin: 0;
	padding:  0;
	box-sizing: border-box;
	font-family: "Poppins",sans-serif;
	/* max-width: 50rem;
	margin: 5rem auto; */
  }
  
.login-form form {
	display: flex;
	justify-content:center;
	align-items: center;
	min-height: 100vh;
	flex-direction: column;
  }
  
.login-form form h1 {
	margin-bottom: 1rem;
  }
.login-form form p {
	margin-bottom: 2rem;
	
  }
