{% extends 'base.html' %}

{% block main %}

{{ super ()}}

<div id="videoBox">
	<video id="video" src="{{url_for('static',filename='Images/vid.mp4')}}" autoplay loop muted></video>
</div> 

<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='Style/eng_article.css')}}">

<main class="main">
	<form action="" method="POST" enctype="multipart/form-data" >
	{{ Ccat_Form.hidden_tag() }}
	
        <p>
            {{ Ccat_Form.nom.label}}
            {{ Ccat_Form.nom }}
        <p>

        <p>{{ Ccat_Form.submit }}<p>

    </form>

</main>

{% endblock %}